<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pharmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pharmate">
        <activity android:name="medicine.BarcodeScanner"></activity>
        <activity android:name="location.LocationActivity">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC529z-gIPssp1xd8b54wAkHHSXaL0wJqM" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name="medicine.ListRequest" />
        <activity android:name="medicine.RequestMedicine" />
        <activity android:name="homepage.AboutPage" />
        <activity android:name=".ForgetPassword" />
        <activity android:name="signup.SignUpUser2" />
        <activity android:name="signup.SignUpUser1" />
        <activity android:name="signup.SignUpUser" />
        <activity
            android:name="fragments.registerPerson"
            android:label="@string/title_activity_register_person"
            android:theme="@style/Theme.Pharmate.NoActionBar" />
        <activity
            android:name="fragments.Choose"
            android:label="@string/title_activity_choose"
            android:theme="@style/Theme.Pharmate.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="organization.OrgInformationPage" />
        <activity android:name="signup.SignUpOrg" />
        <activity android:name=".OrganizationOrPerson" />
        <activity android:name="homepage.HomePageOrg" />
        <activity android:name=".forgetPass" />
        <activity android:name=".ForgotPass" />
        <activity android:name=".OtpVerification" />
        <activity android:name="organization.OrganizatonListPage" />
        <activity android:name="medicine.ReceiveMedicine" />
        <activity android:name=".ListMedicine" />
        <activity android:name="users.PersonalInformation" />
        <activity android:name="medicine.SearchMedicine" />
        <activity android:name="medicine.UploadMedicine" />
        <activity android:name="signup.SignUp" />
        <activity android:name="homepage.HomePage" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQB9UpDeF77O2wJ5lTg79dtnyCeYy45Ys" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>